/*table tr th, 
table tr td, 
table tbody tr td {
	font-size:12px !important;
}*/


table th { font-weight: bold; }
table td, 
table th { padding: 9px 10px; text-align: left; }
.table-wrapper .pinned {display:none;}

/* Mobile */
@media only screen and (max-width: 767px) {
	/* http://stackoverflow.com/questions/3226001/some-font-sizes-rendered-larger-on-safari-iphone */
	.table-wrapper {
    -webkit-text-size-adjust: none;
  }
  .table-wrapper .pinned {display:block;}
	table.responsive { margin-bottom: 0;}
	
	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, 
	.pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	
	.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
	.table-wrapper .scrollable { margin-left: 35%; overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td, 
	table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	
	table.responsive th:first-child, 
	table.responsive td:first-child, 
	table.responsive.pinned td { display: none; }	
}
