/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Base Styles
:: Shared Styles
*/

/* -----------------------------------------
   Base Styles
----------------------------------------- */

body {
  background: #f4f4f4;
}

p {
  color: #999;
}

h1 {
  margin: 20px 0 0;
}

pre {
  border-radius: 5px;
  margin: 0;
  display: block;
  font: 11px Monaco, monospace !important;
  padding: 15px;
  background-color: #1C1C1C;
  overflow: auto;
  color: #D0D0D0;
  line-height: 125%;
  margin-bottom: 30px;
}

table th {
  font-weight: bold;
}

table td,
table th {
  padding: 9px 10px;
  text-align: left;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.container {
  max-width: 740px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  background: #fff;
  margin: 0 auto;
}

h4.subhead {
  font-weight: lighter;
  color: #777;
  margin-bottom: 20px;
}
